body {
    font-weight: 300;
}




html,
body, #root, .Page-login {
    background-color: white;
    height: 100%;
}

input, textarea, select, button, h5, h6, .btn, .input-group-addon {
    font-weight: 300;
}

.btn, .form-control, .input-group-addon {
    border-radius: 0;
}

.form-control, .input-group-addon {
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn {
    cursor: pointer;
    /*padding: 0.5rem 1rem;*/
    /*font-size: 0.9rem;*/
}

.Page-login form {
    min-width: 300px;
}

.Page-login .btn-secondary {
    border-color: rgba(0, 0, 0, 0.1);
}

.Page-login .btn-secondary:hover {
    background-color: transparent;
    border-color: #5cb3fd;
}

.card-title, .head {
    font-size: 22px;
    font-weight: 300;
}

dt {
    font-weight: 500;
}

.navbar-nav a {
    font-weight: 300;
}
